 /*
        icons credit:
        whats: https://www.flaticon.com/br/icone-gratis/whatsapp_160200?term=whatsapp&page=1&position=6&origin=search&related_id=160200

        email: https://www.flaticon.com/br/icone-gratis/o-email_747314?term=email&page=1&position=3&origin=search&related_id=747314

        github: https://www.flaticon.com/free-icon/social_16546614?term=github&page=1&position=16&origin=search&related_id=16546614

        Main color: #E1E5E8
        */
        :root{
            --MainColor:#E1E5E8;
        }
        body{
            padding-bottom: 5%;
            margin: 0%;
            background: linear-gradient(to right, #0000002e,var(--MainColor), #0000001b );
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1{
            font-weight: 300;
        }
        p{
            font-weight: 300;
            font-size: 2.5vh;
        }
        p,h1,a{
            font-family: "League Spartan";
        }
        #navBar{
            width: 9vh;
            height: 8vh;
            position: fixed;
            bottom: 90%;
            left: 1%;
            margin-top: 0%;
            background-color: #e6eef5;
            border-radius: 5vh;
            box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.021);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
        }
        #navBar:hover{
            animation: NavAnimation 2s linear infinite;
        }
        @keyframes NavAnimation {
            0%{
                box-shadow: 0px 0px 20px 1px  red;
                transform: scale(1);
            }
            25%{
                box-shadow: 0px 10px 20px 1px  rgb(0, 247, 255);
                transform: scale(1.1);
            }
            50%{
                box-shadow: 0px 0px 20px 1px  rgb(141, 47, 255);
                transform: scale(1.1);
            }
            100%{
                box-shadow: 0px 0px 20px 1px  rgb(255, 0, 0);
                transform: scale(1);
            }
        }
        #navBar > img{
            width: 70%;
            height: 80%;
        }
        .Quadro{
            opacity: 0;
            transform: translateY(20px);
            transition: opacity  1.5s ease-in-out;
            margin: 20px 0px;
            position: relative;
            background-color: var(--MainColor);
            border-radius: 2.5vh;
            box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.03);
        }
        img{
            width: 5vh;
            height: 5vh;
        }
        #SobreMim{
            position: relative;
            background-color: var(--MainColor);
            border-radius: 2.5vh;
            box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.03);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 60vh;
            height: 50vh;
            margin: 5vh;
            margin-left: 8vh;
            margin-top: 15vh;
            padding: 1%;
        }
        #SobreMim > p{
            text-align: justify;
            margin: 5%;
            font-size: 3.2vh;
        }
        #SobreMim > h1{
            text-align: justify;
            margin: 5%;
            font-size: 6vh;
        }
        #contatos{
            position: absolute;
            bottom: 0%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0% 0% 5% 5%;
        }
        img{
            width: 3vh;
            height: 3vh;
            margin: 0%;
            padding: 0%;
        }
        .contato > img{
            margin: 0% 2% 0% 2%;
        }
        .contato{
            position: relative;
            bottom: 0%;
            width: 100%;
            height: 3.3vh;
            display: flex;
            justify-content:start;
            align-items: center;
            text-align: center;
        }
        #contatos > div{
            position: relative;
        }
        #Projetos{
            margin-top: 30vh;
            padding-top: 1%;
            width: 50vh;
            height: 35vh;
            text-align: center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
        #Projetos > h1{
            font-size: 5vh;
        }
        #Projetos > p{
            font-size: 3.5vh;
        }
        .Projeto{
            border-radius: 2vh;
            width: 9vh;
            height: 9vh;
            margin: 5%;
            background-color: rgba(128, 128, 128, 0.295);
            box-shadow: 5px 5px 10px 0px  rgba(0, 0, 0, 0.156);
            /* display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; */
        }
        .Projeto:hover{
            cursor: pointer;
            animation: AnimacaoDeAumentar 0.2s linear forwards;
        }
        @keyframes AnimacaoDeAumentar {
            0%{
            transform: scale(1.0);
            }
            100%{
            transform: scale(1.1);
            }
        }
        .Projeto > p{
            font-size: 2vh;
            font-weight: 600;
            text-decoration: underline;
        }
        #AlinharProjetoFlex{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .Projeto > img{
            width: 80%;
            height: 80%;
        }
        #gameboy{
            width: 70%;
            height: 100%;
        }
        #Projetos > h1{
            margin-top: 10%;
            text-align: center;
        }
        .ResumoProjetos{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 30%;
            margin-top: 30vh;
            width: 50vh;
            height: 35vh;
            background-color: var(--MainColor);
            box-shadow: 5px 5px 10px 0px  rgba(0, 0, 0, 0.156);
            border-radius: 4vh;
        }
        .capa{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 1px 1px 3px 0px  rgba(0, 0, 0, 0.156);
            width: 80vh;
            height: 50%;
            margin: 5%;
            border-radius: 2vh;
        }
        .capa > h1{
            font-size: 2vh;
            font-weight: 600;
        }
        .capa > img{
            width: 60%;
            height: 60%;
        }
        #gameboyCapa{
            width: 40%;
            height: 60%;
        }
        .textoExplicativo{
            text-align: center;
        }
        .dificuldades{
            width: 50vh;
            margin-top: 20vh;
            padding-top: 2%;
            padding: 5%;
        }
        .dificuldades > h1{
            text-align: center;
        }
        .resolucoes{
            margin-top: 30svh;
            width: 50vh;
            padding: 2%;
        }
        .resolucoes > h1{
            text-align: center;
        }
        #Rodape{
            position: absolute;
            margin-top: 8vh;
            left: 0%;
            background-color: rgba(0, 0, 0, 0.033);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 0vh;
            box-shadow: 10px 0px 10px 0px  rgba(0, 0, 0, 0.03);
        }
        #AlinharCreditoFlex{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #AlinharCreditoFlex > a{
            width: 20vh;
            margin: 1%;
        }